$black: #212121;
$white: #f0f0f0;
$gray : #616161;
$sunrise: #ffa700;

$breakpoints: (
  "small": 30em,
  "medium": 48em,
  "large": 64rem,
  "x-large": 80rem,
);
@mixin media-query($breakpoint){
  $result : map-get($breakpoints, $breakpoint);
  @media all and (min-width: $result){
    @content;
  }
}
body {
  font-family: "Raleway";
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  user-select:none;
}
.maintenance {
  transition:ease .3s;
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  font-size: 2rem;

  @include media-query("small"){
    font-size: 3rem;
  }

  @include media-query("medium"){
    font-size: 4rem;
  }
  @include media-query("large"){
    font-size: 5rem;
  }
  @include media-query("x-large"){
    font-size: 6rem;
  }
  h1{
    line-height: 90%;
  }
  h1:nth-child(1) {
    color: white;
  }
  h1:nth-child(2) {
    color: $sunrise;
  }
  a{
    transition: all .2s;
    margin-block-start: .3rem;
    text-decoration: none;
    color:$gray;
    font-size:1.5rem;
    font-weight: 200;
    width: fit-content;
    
    @include media-query("small"){
    margin-block-start: .5rem;
      font-size: 2rem;
    }
    @include media-query("medium"){
    margin-block-start: .7rem;
      font-size: 2.5rem;
    }
    @include media-query("large"){
    margin-block-start: .9rem;
      font-size: 3rem;
    }
    @include media-query("x-large"){
    margin-block-start: 1.1rem;
      font-size: 3.5rem;
    }
    &:hover{
      color:$sunrise;
      font-weight: 400;
    }
  }
}
